.center{
    text-align: center;
}

header {
    background-color: #0275d8;
    color: #fff;
    font-size: 24px;
    padding: 20px 15px 10px 15px;
    display: block;
}

.container-fluid {
    padding-top: 20px;
}